<script type="text/javascript" src="js/jssor.js"></script>
<script type="text/javascript" src="js/jssor.slider.js"></script>
<script>
    $(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                   //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $DragOrientation: 1,                               //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $Loop :0
            };
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
        
        });
   
</script>
<style>

</style>

<!-- Jssor Slider Begin -->
<!-- To move inline styles to css file/block, please specify a class name for each element. -->
<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: <%= $( window ).width()%>px;
        height:<%= $( window ).height()%>px;">
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: <%= $( window ).width()%>px; height: <%= $( window ).height()%>px;
            overflow: hidden;">
        <% _.each(samples, function(link){ %> 
         
        <div><img u="image" class="b-lazy" 
                data-src="<%= resource.rootPublicUrl +'/'+ link %>" 
                src="<%= resource.imagePlaceholder %>" /></div>
       
       <% });%>
       
    </div>
</div>
<!-- Jssor Slider End -->


