<div class="menu-scroll">
    <div class="menu-wrap">
        <div class="menu-content">
            <ul class="nav">
                <li class="active">
                    <a data-cat="all" class="menu_category" href="#">Semua Buku terkini</a>
                </li>
                <li>
                   <a data-cat="17" class="menu_category" href="#">Agama & Falsafah</a>
                </li>
                <li>
                    <a data-cat="18" class="menu_category" href="#">Bahasa</a>
                </li>
                <li>
                    <a data-cat="19" class="menu_category" href="#">Kesenian</a>
                </li>
                <li>
                    <a data-cat="4" class="menu_category" href="#">Kesusasteraan (Novel & Cerpen)</a>
                </li>
                <li>
                    <a data-cat="20" class="menu_category" href="#">Kesusasteraan (Biografi)</a>
                </li>
                <li>
                    <a data-cat="21" class="menu_category" href="#">Kesusasteraan (Drama, Syair & Puisi)</a>
                </li>
                <li>
                    <a data-cat="22" class="menu_category" href="#">Sains & Teknologi</a>
                </li>
                <li>
                    <a data-cat="23" class="menu_category" href="#">Sains Sosial</a>
                </li>
                <li>
                    <a data-cat="24" class="menu_category" href="#">Sejarah & Geografi</a>
                </li>
                <li>
                    <a data-cat="25" class="menu_category" href="#">Umum</a>
                </li>
            </ul>
            <hr>
<!--
            <ul class="nav">
                <li>
                    <a href="#">Kategori B1</a>
                </li>
                <li>
                    <a href="#">Kategori B2</a>
                    <span class="menu-collapse-toggle collapsed" data-target="#form-elements" data-toggle="collapse"><i class="icon icon-close menu-collapse-toggle-close"></i><i class="icon icon-add menu-collapse-toggle-default"></i></span>
                    <ul class="menu-collapse collapse" id="form-elements">
                        <li>
                            <a href="#">Kategori B2<small>a</small></a>
                        </li>
                        <li>
                            <a href="#">Kategori B2<small>b</small></a>
                        </li>
                        <li>
                            <a href="#">Kategori B2<small>c</small></a>
                        </li>
                    </ul>
                </li>
            </ul>
-->
        </div>
    </div>
</div>