<header class="header">
    <ul class="nav nav-list pull-left">
        <li>
            <a class="menu-toggle" href="#menu">
                <span class="access-hide">Menu</span>
                <span class="icon icon-menu"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
    </ul>
    <a class="header-logo" href="index.html">iDBP</a>
    <ul class="nav nav-list pull-right">
<!--
        <li>
            <a class="menu-toggle" href="#profile">
                <span class="access-hide">Z_GATES</span>
                <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="images/users/avatar-001.jpg"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
-->
    </ul>
</header>
<nav class="menu" id="menu">
    
</nav>
<nav class="menu menu-right" id="profile">

</nav>
<!--    Above should be an element as generic template -->
<div id="main" class="content">

</div>

<footer class="footer">
    <div class="container">
        <p>DBP site</p>
    </div>
</footer>
<div class="fbtn-container">

</div>