<style>
.form-group-btn{
  display: block;
  vertical-align: middle;
    margin-bottom: -20px;
}
.btn{
    font-size: 14px;
    text-transform:none;
}
#btnLogin{
    width:100%;   
}
#btnForgotPassword{
 float:left;
}
#btnGoToRegister{
 float:right;   
}
/*
.low-btn{
 border-top:5px solid #ccc;
}
*/

</style>


<div class="row">
    <div class="form-group form-group-label">
        <div class="col-md-10 col-md-push-1">
            <label class="floating-label" for="login-email"><%=resource.txtEmail %></label>
            <input class="form-control" id="login-email" type="text" name="email">
        </div>
    </div>
    <div class="form-group form-group-label">
    <div class="col-md-10 col-md-push-1">
            <label class="floating-label" for="login-password"><%=resource.txtPassword %></label>
            <input class="form-control" id="login-password" type="password" name="password">
        </div>
    </div>
    <div class="form-group-btn">     
        <button class="btn btn-blue waves-button waves-light waves-effect" type="submit" id="btnLogin"><%=resource.txtLogin %></%></button>         
    </div>
   
    <div class="low-btn form-group-btn">
         <button class="btn btn-flat btn-alt" id="btnForgotPassword" type="button"><%=resource.txtForgot %></button>
         <button class="btn btn-flat btn-alt" data-dismiss="modal" data-toggle="modal" href="#modal-register" id="btnGoToRegister" type="button"><%=resource.txtRegister %></button>
    </div>
</div>



