<style>
.row{
    margin-bottom: 100px;  
}
.price{
  color: #2196f3; 
   font-weight: bold;
}
.btngroup{
   margin-top: 20px;   
}
.summary{
min-height: 120px;
    font-size: 14px;
}
.authors{
    font-size: 18px;
}
.categories{
    font-size: 14px;
}
.bookshowcase{
  width: 110px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 2px;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 26px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    
  float: left;
  margin: 2px 5px;
  display: inline;

}
.btn{
    text-transform: capitalize;
}
.more{
 width:110px;
 height: 160px;
 margin: 2px 5px;
 line-height: 140px;
 text-transform:none;
}

.bookshowcase_row{
   
    margin-left: auto;
    margin-right: auto;
/*
    display: block;
    position: relative; 
*/
}

.bookthumb{
     width:120px;
     margin-left: -16px;
}
.bookthumb-full{
     width: <%= $( window ).width()%>px;
     min-height: <%= $( window ).height()%>px;
}
.modal-dialog-fs{
    padding: 0px 0px;   
}
.modal-content-fs{
    min-height: <%= $( window ).height()%>px;
    width: <%= $( window ).width()%>px;;
    background-color: white;
}
.modal-footer-fs{
    left: auto;
    position:absolute;
    right: 0;
    bottom: 0;   
}
.modal-footer-fs .btn-flat {
  background-color: white;
}
.modal-inner-fs{
    padding: 0; 
    position:absolute;
}
.modal-heading-fs{
    padding-top: 0;
}
.modal-close-fs {
  color: #616161;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 20px;
  line-height: 28px;
  margin-right: -8px;
  padding-right: 20px;
  padding-left: 8px;
}
.other{
    margin-left: 10px;
    color: #2196f3;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
    
@media only screen and (min-width: 370px) {
     
    .bookshowcase_row {
          margin-left: 2.5%;
    }

}

@media only screen and (min-width: 640px) {
     
    .bookshowcase_row {
          margin-left: 3.5%;
    }

}

@media only screen and (min-width: 600px) {
     
    .bookshowcase_row {
          margin-left: 7%;
    }

}
</style>
<div class="content-heading">
    <div class="container">
        <h1 class="heading"><%= book.title %></h1>
    </div>
</div>
<div class="content-inner">
     <div class="container">
        <!--idbp-->
        <div class="card-wrap">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card pull-left" style="height:160px;width:110px;margin-right:30px;">
                        <div class="card-main">
                            <div class="card-inner">
                                <img class="b-lazy bookthumb" data-toggle="modal" href="#view-bookcover"
                                     data-src="<%= resource.rootPublicUrl+'/'+book.pic %>" src="http://placehold.it/110x160&text=placeholder" />
                            </div>
                        </div>
                    </div>
                    
                   <p>
                       <span class="authors"><%= book.authors.join() %></span> <br>
                    <span class="categories"><%= book.categories.join() %></span> <br>
                       <span class="price">RM <%= book.price %></span><br>
                       
                    </p>
                   
                   <p class="summary"><%= book.summary %></p>
                       
                   

                </div>
                <div class="btngroup" style="margin-left:auto;margin-right=auto;text-align:center;">
                   
                    <button id="btnSample" class="btn btn-blue waves-button waves-light waves-effect" data-toggle="modal" href="#read-sample" >Lihat Sampel</button>        
                    <button id="btnDownload" class="btn waves-button waves-effect" type="button">Muat Turun</button>

                </div>
     
               <hr class="other">
                
                <p class="other">Cadangan buku-buku lain:</p>
               
                 <div id="other_book" class="bookshowcase_row">
                    <!-- other book -->
                </div>
                <div  class="col-lg-4 col-sm-6">
                   <a id="btnMore" class="btn btn-flat btn-blue waves-button waves-effect more">Lihat lagi..</a>
                </div>

            </div>
            
                   

        </div>
    <div id="notification"></div>
    </div>
</div>


<!--Modal-->
    
	<div aria-hidden="true" class="modal fade" id="read-sample"  tabindex="-1">
		<div class="modal-dialog modal-big modal-dialog-fs modal-big-fs">
			<div class="modal-content modal-content-fs">
			
				<div class="modal-inner modal-inner-fs">
				    <div id="sample-container"></div>
				</div>
                	<div class="modal-heading modal-heading-fs">
					<a class="modal-close" data-dismiss="modal">&times;</a>
				</div>
				<div class="modal-footer modal-footer-fs">
					<p class="text-right"><button class="btn btn-flat btn-alt" data-dismiss="modal" type="button">Tutup</button>
				</div>
			</div>
		</div>
	</div>
         
    <div aria-hidden="true" class="modal fade" id="view-bookcover"  tabindex="-1">
		<div class="modal-dialog modal-big modal-dialog-fs modal-big-fs">
			<div class="modal-content modal-content-fs">
			
				<div class="modal-inner modal-inner-fs">
				    <div id="sample-container">
                        <img class="b-lazy bookthumb-full" data-toggle="modal" href="#view-bookcover"
                                     data-src="<%= resource.rootPublicUrl+'/'+book.pic %>" src="http://placehold.it/110x160&text=placeholder" />
                    </div>
				</div>
                	<div class="modal-heading modal-heading-fs">
					<a class="modal-close" data-dismiss="modal">&times;</a>
				</div>
				<div class="modal-footer modal-footer-fs">
					<p class="text-right"><button class="btn btn-flat btn-alt" data-dismiss="modal" type="button">Tutup</button>
				</div>
			</div>
		</div>
	</div>
   <div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-red fbtn-lg" data-toggle="dropdown"><span class="fbtn-text">Links</span><span class="fbtn-ori icon icon-open-in-new"></span><span class="fbtn-sub icon icon-close"></span></a>
			<div class="fbtn-dropdown">
				<a id="btnRefresh" class="fbtn fbtn-blue" href="#" ><span class="fbtn-text">Refresh</span><span class="fa fa-refresh"></span></a>
				<a id="btnBack" class="fbtn fbtn-blue" href="#" ><span class="fbtn-text">Back</span><span class="fa fa-mail-reply"></span></a>
			</div>
		</div>
	</div>
    <script type="text/javascript">
        $('.modal').on('shown.bs.modal', function (e){
                blazy.revalidate();
                screen.lockOrientation('portrait');
            });
         
        $('.modal').on('hidden.bs.modal', function (e) {
            screen.unlockOrientation();
        });
        
        
        
    </script>